{% extends 'base.html.twig' %}

{% block title %}Transaction index{% endblock %}

{% block body %}
    <h1>Transaction index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transaction %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.transactionDate ? transaction.transactionDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ transaction.transactionType  }}</td>
                <td>{{ transaction.status }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
